@page
@model Onboarding_AWAQ.Pages.DashboardModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Dashboard";
}


<div class="row">
    <h1>Tablero</h1>
</div>
<div class="row row-dash" >
    <div class="graph-row">
        <div class="graph-container" style="justify-content: space-between;">
            <div class="graph-title">
                <h1>Resumen de preguntas</h1>
            </div>
            <div class="row-preguntas">
                <div class="Correctas"></div>
                <div class="Incorrectas"></div>
                <div class="Pendientes"></div>
            </div>
            <!--Bottom row -->
            <div class="row-datos">
                @foreach (Preguntas pregunta in Model.ListaPreguntas)
                {
                    <div class="row-block">
                        <p class="info-p">@pregunta.cantidad</p>
                        <div class="div-info">
                            <div class="div-@pregunta.clase"></div>
                            <p class="clase">@pregunta.clase</p>
                        </div>
                    </div>
                } 
            </div>
        </div>
        <div class="graph-container">
            <div class="graph-title">
                <h1>Tiempo por pregunta</h1>
            </div>
            <div>
                <p class="time-kpi">@Model.promedio.tiempo</p>
                <p class="time-unit">@Model.promedio.unidad</p>
            </div> 
        </div>
        <div class="graph-container">
            <div class="graph-title">
                <h1>Tiempo promedio por area</h1>
                <div class="colored-tag">
                    <p>+ 46%</p>
                </div>
            </div>
            <div id="graph"></div> 
        </div>
    </div>
    <div class="big-graph-row">
        <div class="large-graph">
            <h1>Puntos</h1>
            <div class="title-slider">
                <h1>Comparado con:</h1>
                <div class="slider">
                    <div class="slider-select">
                        <p>Nadie</p>
                    </div>
                    <div class="slider-opt">
                        <p>Promedio</p>
                    </div>
                    <div class="slider-opt">
                        <p>Persona especifica</p>
                    </div>
                </div>
            </div>
            <div id="graphL"></div>
        </div>
        <div class="resume-col">
            <h1>Resumen por area</h1>
            <div class="resume-container">
                @foreach (Area zona in Model.ListaAreas)
                {
                    <div class="resume-block">
                        <div class="resume-title">
                            <h1>@zona.zona</h1>
                            <div class="colored-tag">
                                @if (zona.progreso == 100)
                                {
                                    <p>Terminado</p>
                                }
                                else
                                {
                                    <p>@zona.progreso%</p>
                                }
                            </div>
                        </div>
                        <div class="resume-row-container">
                            <div class="resume-row">
                                <h1>Puntos:</h1>
                                <h2>@zona.puntos</h2>
                            </div>
                            <div class="resume-row">
                                <h1>Tiempo Jugado:</h1>
                                <h2>@zona.tiempo</h2>
                            </div>
                            <div class="resume-row">
                                <h1>Preguntas correctas:</h1>
                                <h2>@zona.pCorrectas</h2>
                            </div>
                            <div class="resume-row">
                                <h1>Preguntas incorrectas:</h1>
                                <h2>@zona.pIncorrectas</h2>
                            </div>
                        </div>
                    </div>
                }
                @if(!Model.ListaAreas.Any()) 
                {
                    <div>
                        No se ha empezado la capacitacion
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="./js/Graph.js"></script>
<script src="./js/LargeGraph.js"></script>
<script src="./js/dashboard.js"></script>