@page
@model Onboarding_AWAQ.Pages.LeaderboardModel
@{
    Layout = "~/Pages/Shared/_LayoutSideBar.cshtml";
    ViewData["Title"] = "Leaderboard";
}


<div class="row">
    <h1>Leaderboard</h1>
</div>
<div class="row h-100 w-100" style="gap: 2rem;">
    <div class="col-top-3 h-100" id="cards-container">
    </div>
    <div class="col lead-container h-100">
        <div class="titles">
            <p>Lugar</p>
            <p>Nombre</p>
            <p>Puntos</p>
            <p>Tiempo</p>
            <p>Terminado</p>
            <p>Departamento</p>
        </div>
        <div class="rows-container w-100" id="rows-container">
            @foreach (Puntaje user in Model.Leaderboard)
            {
                <div class="lead-row w-100">
                    <p style="width: 4rem;">@user.position</p>
                    <div>
                        @if (user.src == "")
                        {
                            <img class="rounded-circle" src="img/profile.png" alt="Alternate Text" />
                        }
                        else
                        {
                            <img class="rounded-circle" src="@user.src" alt="Alternate Text" />
                        }
                        <p style="width: 13rem;">@user.name</p>
                    </div>
                    <p style="width: 4rem;">@user.puntaje</p>
                    <p style="width: 5rem;">@user.tiempoJugado</p>
                    <p style="width: 7rem;">@user.terminado</p>
                    <div>
                        <div class="colored-tag">
                            <p style="width: 12rem;">@user.departamento</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="./js/leaderboard.js"></script>